backend/__pycache__
backend/.venv
backend/.env

backend/app/api/__pycache__
backend/app/core/__pycache__
backend/app/database/__pycache__
backend/app/integrations/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__
backend/app/services/__pycache__
backend/app/workers/__pycache__
backend/.persistent_cache.json

frontend/.next
frontend/node_modules
frontend/.env
frontend/next-env.d.ts

