# --- Application ---
APP_NAME=ClipScheduler
APP_VERSION=1.0.0
DEBUG=false
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:3000

# --- JWT ---
JWT_ACCESS_SECRET_KEY=13009bf1c5e4d4eb86a85e3dc8885e3bc6787b2c3931af6eca9eb443ba5d8ce25c14527015f9ed8bfbeb89847761e0ce0ea79e90ba4e7eb4551d66c4f99f5d6f
JWT_REFRESH_SECRET_KEY=your_secure_random_refresh_secret_here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# --- Database (Neon PostgreSQL) ---
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_4JtxvWI5CBhr@ep-restless-scene-azaq6qez-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?ssl=require

# --- Frontend URL ---
FRONTEND_LOCAL_URL=http://localhost:3000
FRONTEND_HOSTED_URL=
